In [29]:
import pandas as pd

data = pd.read_csv('data/adult.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

List all possible values for each column and ensure visually all the possible values it has

In [50]:
print(f'Number of instances: {len(data)}')
print(f'Attribute names: {data.columns.to_list()}')
print(f'Number of missing attribute values: {data.isnull().sum().sum()}')
series = data.isnull().sum()
print(f'List of attribute names with at least one missing value {series[series>0].keys().to_list()}')
print(f"Percentage of instances corresponding to individuals whose education level is Bachelors or Masters: {(len(data[(data['education'] == 'Masters') | (data['education'] == 'Bachelors')]) / len(data) * 100)}%")

Number of instances: 48842
Attribute names: ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'native-country', 'class']
Number of missing attribute values: 6465
List of attribute names with at least one missing value ['workclass', 'occupation', 'native-country']
Percentage of instances corresponding to individuals whose education level is Bachelors or Masters: 21.870521272675155%