In [83]:
import pandas as pd

data = pd.read_csv('data/SMSSpamCollection.csv', header=None, names = ['label', 'text'], encoding='latin-1')
data

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [84]:
data_size = data['label'].value_counts()
data_size

ham     4825
spam     747
Name: label, dtype: int64

Balance dataset copying spam data

In [85]:
import random
ham_data = data[data['label'] == 'spam']
for i in range(0, data_size[0] - data_size[1]):
    n = random.randint(0, len(ham_data) - 1)
    random_ham = ham_data.iloc[n]
    data = data.append(random_ham)
    
data_size = data['label'].value_counts()
data_size

ham     4825
spam    4825
Name: label, dtype: int64

In [86]:
import re
import nltk
nltk.download('punkt')

from nltk.tokenize import word_tokenize

data["char_count"] = data['text'].apply(len)
data["word_count"] = data['text'].apply(word_tokenize)
def count_uppercase(string):
    return len(re.findall("[A-Z]", string))
data["uppercase_count"] = data['text'].apply(count_uppercase)
def count_punctuation(string):
    return len(re.findall("[^\w\s]", string))
data["punctuation_count"] = data['text'].apply(count_punctuation)
def count_digits(string):
    return len(re.findall("[0-9]", string))
data["digits_count"] = data['text'].apply(count_digits)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [87]:
numeric_data = data.drop("text", axis=1)
numeric_data

,label,char_count,word_count,uppercase_count,punctuation_count,digits_count
0,ham,111,"[Go, until, jurong, point, ,, crazy, .., Avail...",3,9,0
1,ham,29,"[Ok, lar, ..., Joking, wif, u, oni, ...]",2,6,0
2,spam,155,"[Free, entry, in, 2, a, wkly, comp, to, win, F...",10,6,25
3,ham,49,"[U, dun, say, so, early, hor, ..., U, c, alrea...",2,6,0
4,ham,61,"[Nah, I, do, n't, think, he, goes, to, usf, ,,...",2,2,0
...,...,...,...,...,...,...
5196,spam,150,"[Spook, up, your, mob, with, a, Halloween, col...",11,3,18
1307,spam,163,"[Enjoy, the, jamster, videosound, gold, club, ...",2,9,15
3562,spam,68,"[Text, BANNEDUK, to, 89555, to, see, !, cost, ...",12,2,13
1904,spam,143,"[Free, entry, in, 2, a, weekly, comp, for, a, ...",7,6,19
2670,spam,130,"[we, tried, to, contact, you, re, your, respon...",0,0,11

In [88]:
ham_data = data[data['label'] == 'ham']
spam_data = data[data['label'] == 'spam']

print('Statistics for ham')
print(ham_data.mean(axis='rows'))

print('\n\nStatistics for spam')
print(spam_data.mean(axis='rows'))

Statistics for ham
char_count           71.559378
uppercase_count       4.099482
punctuation_count     3.961451
digits_count          0.305285
dtype: float64


Statistics for spam
char_count           139.176166
uppercase_count       15.627358
punctuation_count      6.136580
digits_count          15.840000
dtype: float64