In [1]:
from sklearn.datasets import load_iris

iris = load_iris()
print(f'classes: {iris.target_names}')
print(f'attributes: {iris.feature_names}')
M = len(iris.data)
print(f'Number of instances: {M}')

classes: ['setosa' 'versicolor' 'virginica']
attributes: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Number of instances: 150

# Algorithm 1R - Classification rules

In [13]:
import pandas as pd
import numpy as np

def find_most_frequent_classes(class_index):
    class_frequencies = {}
    for instance in zip(iris.data, iris.target):
        if instance[0][class_index] in class_frequencies:
            class_frequencies[instance[0][class_index]][instance[1]] = class_frequencies[instance[0][class_index]][instance[1]] + 1
            class_frequencies[instance[0][class_index]][3] = np.argmax(class_frequencies[instance[0][class_index]][0:3])
        else:
            new_freq = {
                    instance[0][class_index]: [0, 0, 0, 0]
                }
            new_freq[instance[0][class_index]][instance[1]] = new_freq[instance[0][class_index]][instance[1]] + 1
            new_freq[instance[0][class_index]][3] = np.argmax(new_freq[instance[0][class_index]][0:3])
            class_frequencies.update(new_freq)
    df_freq = pd.DataFrame.from_dict(class_frequencies).transpose().sort_index()
    return df_freq.rename(columns={3: "most_frequent"})

In [14]:
df_class_0 = find_most_frequent_classes(0)
df_class_0

     0  1  2  most_frequent
4.3  1  0  0              0
4.4  3  0  0              0
4.5  1  0  0              0
4.6  4  0  0              0
4.7  2  0  0              0
4.8  5  0  0              0
4.9  4  1  1              0
5.0  8  2  0              0
5.1  8  1  0              0
5.2  3  1  0              0
5.3  1  0  0              0
5.4  5  1  0              0
5.5  2  5  0              1
5.6  0  5  1              1
5.7  2  5  1              1
5.8  1  3  3              1
5.9  0  2  1              1
6.0  0  4  2              1
6.1  0  4  2              1
6.2  0  2  2              1
6.3  0  3  6              2
6.4  0  2  5              2
6.5  0  1  4              2
6.6  0  2  0              1
6.7  0  3  5              2
6.8  0  1  2              2
6.9  0  1  3              2
7.0  0  1  0              1
7.1  0  0  1              2
7.2  0  0  3              2
7.3  0  0  1              2
7.4  0  0  1              2
7.6  0  0  1              2
7.7  0  0  4              2
7.9  0  0  1              2

In [15]:
df_class_1 = find_most_frequent_classes(1)
df_class_1

     0  1   2  most_frequent
2.0  0  1   0              1
2.2  0  2   1              1
2.3  1  3   0              1
2.4  0  3   0              1
2.5  0  4   4              1
2.6  0  3   2              1
2.7  0  5   4              1
2.8  0  6   8              2
2.9  1  7   2              1
3.0  6  8  12              2
3.1  4  3   4              0
3.2  5  3   5              0
3.3  2  1   3              2
3.4  9  1   2              0
3.5  6  0   0              0
3.6  3  0   1              0
3.7  3  0   0              0
3.8  4  0   2              0
3.9  2  0   0              0
4.0  1  0   0              0
4.1  1  0   0              0
4.2  1  0   0              0
4.4  1  0   0              0